.image-content-container {
  background-color: var(--color-body-background);
  box-shadow: var(--box-shadow-primary);

  padding: 1em;
  border-radius: 0.5em;
  line-height: 1.6;

  & > a {
    color: var(--color-link);
    text-decoration: none;
  }

  &:hover {
    box-shadow: none;
    transition: all 0.3s ease-in;
  }
}
