input[type="text"],
input[type="email"],
textarea,
button {
  outline: none;

  border: 2px transparent solid;
  width: 100%;
  max-width: 700px;
  padding: 1.5em 2em;

  font-size: 1em;
  font-family: var(--font-sans-serif);
  border-radius: 0.4em;

  margin-bottom: 1em;

  &:focus {
    border: 2px var(--color-input-border) solid;
  }
}

input[type="text"],
input[type="email"],
textarea {
  background-color: var(--color-body-background);
  color: var(--color-darkest);
  box-shadow: var(--box-shadow-input);
}

button {
  color: var(--color-lightest);
  background: var(--color-darkest);
  font-weight: bold;
  letter-spacing: 3px;
}
