input[type="text"],
input[type="email"],
textarea,
button {
  outline: none;

  border: 2px transparent solid;
  width: 100%;
  max-width: 700px;
  padding: 1.5em 2em;

  font-size: 1em;
  font-family: var(--font-sans-serif);
  border-radius: 0.4em;

  margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #f4f4f4;

  &:focus {
    border: 2px #e4e4e4 solid;
  }
}

button {
  color: var(--color-white);
  background: var(--color-dark);
  font-weight: bold;
  letter-spacing: 3px;

  cursor: pointer;
}
