.icons-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;
  & > .icon-container {
    padding: 0.8em 1em;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    line-height: 1;

    border-radius: 0.5em;
    box-shadow: var(--box-shadow-primary);

    & > a {
      color: var(--color-link);
    }
    & > svg > path {
      color: var(--color-link);
    }
  }
}

// svg:not(:root).svg-inline--fa {
//   overflow: visible;
// }

// .svg-inline--fa.fa-w-16 {
//   width: 1em;
// }

// .svg-inline--fa {
//   display: inline-block;
//   font-size: inherit;
//   height: 1em;
//   overflow: visible;
//   vertical-align: -0.125em;
// }
