.icons-container {
  margin: 0 auto;
  & > .icon-container {
    padding: 0.8em 1em;
    margin-right: 1.5rem;
    margin-top: 1.5rem;

    border-radius: 0.5em;
    box-shadow: var(--box-shadow-primary);

    & > a {
      color: white;
    }
  }
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
