.navbar {
  min-height: 3.25rem;
}

.container {
  width: auto;
  position: relative;
  flex-grow: 1;

  max-width: 980px;
  margin: 0 auto;

  @media (max-width: 1050px) {
    margin: 0 35px;
  }

  @media (max-width: 900px) {
    margin: 0 25px;
  }
}

.hero {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  &.is-fullheight-with-navbar {
    min-height: calc(100vh - 100px);
  }
  &.is-fullheight {
    min-height: 100vh;
  }

  .hero-head,
  .hero-foot {
    flex-grow: 0;
    flex-shrink: 0;
  }

  & > .hero-body {
    align-items: center;
    display: flex;

    flex-grow: 1;
    flex-shrink: 0;

    padding: 3rem 0;

    & > .container {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}

.is-raised {
  background-color: var(--color-body-background);
  box-shadow: var(--box-shadow-primary);
}
