.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;

  & > .skill-container {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;

    display: flex;

    border-radius: 0.5em;
    margin: 1.5rem;

    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.05),
      -7px -7px 10px var(--color-white);

    & > a {
      color: var(--color-dark);
    }
    & > img {
      margin: auto;
    }
  }
}
