.link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.has-text-weight-light {
  font-weight: 200;
}

.has-text-weight-bold {
  font-weight: bold;
}

.is-huge {
  color: rgba(0, 0, 0, 0.1);
  font-size: 70px;

  @media (min-width: 1480px) {
    font-size: 150px;
  }
  @media (min-width: 1216px) {
    font-size: 150px;
  }
  @media (min-width: 1024px) {
    font-size: 130px;
  }
}

// Alignment
.has-text-centered {
  text-align: center;
}
.has-text-justified {
  text-align: justify;
}
.has-text-right {
  text-align: right;
}
.has-text-left {
  text-align: left;
}

// Colors
.has-text-black {
  color: #000000;
}
.has-text-white {
  color: #ffffff;
}
.has-text-primary {
  color: var(--color-primary);
}
.has-text-secondary {
  color: var(--color-secondary);
}
.has-text-light {
  color: var(--color-light);
}

// Background
.has-background-black {
  background-color: #000000;
}
.has-background-white {
  background-color: #ffffff;
}
.has-background-primary {
  background-color: var(--color-primary);
}
.has-background-secondary {
  background-color: var(--color-secondary);
}
.has-background-light {
  background-color: var(--color-light);
}

.is-size-1 {
  font-size: 45px;

  @media (min-width: 1480px) {
    font-size: 64px;
  }
  @media (min-width: 1216px) {
    font-size: 64px;
  }
  @media (min-width: 1024px) {
    font-size: 64px;
  }
}

.is-size-2 {
  font-size: 19px;

  @media (min-width: 1480px) {
    font-size: 35px;
  }
  @media (min-width: 1216px) {
    font-size: 35px;
  }
  @media (min-width: 1024px) {
    font-size: 35px;
  }
}

.is-size-3 {
  font-size: 19px;

  @media (min-width: 1480px) {
    font-size: 23px;
  }
  @media (min-width: 1216px) {
    font-size: 23px;
  }
  @media (min-width: 1024px) {
    font-size: 23px;
  }
}

p {
  margin-bottom: 1rem;
}
