@keyframes raise-container {
  from {
    box-shadow: none;
    transform: scale(1);
  }
  to {
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.05), -7px -7px 10px white ;
    transform: scale(1.05);
  }
}