.image-contents-container {
  display: flex;
  justify-content: flex-start;

  width: 100%;
  margin: 0 auto;

  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }

  .image-content-container {
    flex: 1;

    padding: 1em;
    margin: 1.5rem;

    border-radius: 0.5em;
    background-color: #fafafa;

    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.05), -7px -7px 10px white;

    & > a {
      color: black;
      text-decoration: none;
    }

    line-height: 1.6;
  }
}
