.image-contents-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;

  width: 100%;
  margin: 0 auto;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  .image-content-container {
    padding: 1em;

    border-radius: 0.5em;
    background-color: #fafafa;

    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.05), -7px -7px 10px white;

    & > a {
      color: black;
      text-decoration: none;
    }

    line-height: 1.6;

    &:hover {
      box-shadow: none;
      transition: all 0.3s ease-in;
    }
  }
}
