.icons-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;
  & > .icon-container {
    padding: 0.8em 1em;
    margin-right: 1.5rem;
    margin-top: 1.5rem;

    border-radius: 0.5em;

    transition: all 0.2s ease-in-out;
    animation: raise-container 0.3s forwards 0.8s;
    & > a {
      color: black;
    }
  }
}