.icons-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;
  & > .icon-container {
    padding: 0.8em 1em;
    margin-right: 1.5rem;
    margin-top: 1.5rem;

    border-radius: 0.5em;

    transition: all 0.2s ease-in-out;
    animation: raise-container 0.3s forwards 0.8s;
    & > a {
      color: black;
    }
  }
}

@keyframes raise-container {
  from {
    box-shadow: none;
    transform: scale(1);
  }
  to {
    // For #e3e3d3 background
    // box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6), 12px 12px 12px 0 rgba(0, 0, 0, 0.03);

    // For #fafafa background
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.05), -7px -7px 10px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
  }
}