.icons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 60%;
  margin: 0 auto;
}

.icon-container {
  color: black;

  padding: 1.2em 1.4em;
  border-radius: 0.5em;

  transition: all 0.2s ease-in-out;
  animation: raise-container 0.3s forwards 0.8s;
}

@keyframes raise-container {
  from {
    box-shadow: none;
    transform: scale(1);
  }
  to {
    // box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6), 12px 12px 12px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.05), -7px -7px 10px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
  }
}
