@font-face {
  font-family: "HelveticaNowText";
  src: url("./fonts/HelveticaNowText-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./fonts/HelveticaNowText-Light.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./fonts/HelveticaNowText-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
