@charset "utf-8";

@import "fonts";

$primary: #027bff;
$secondary: #797979;
$light: rgba(0, 0, 0, 0.1);
$dark: #000000;

$family-sans-serif: "HelveticaNowText", Helvetica, Arial, sans-serif;

$text-color: $secondary;
$text-size: 13px;

$body-background: #fafafa;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $text-size;
  color: $text-color;
  background-color: $body-background;

  &::selection {
    background-color: $primary;
    color: white;
  }
}

div,
section {
  display: block;
}

@import "utils/layout";
@import "utils/typography";
@import "utils/icons";
@import "utils/blogs";
@import "utils/skills";
@import "utils/form";
