nav {
  margin-top: 3rem;
  width: 100%;
  z-index: 999;

  .navbar-container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-toggle-menu {
    z-index: 1001;

    display: none;
    @media (max-width: 600px) {
      display: flex;
    }
  }

  .navbar-toggle-theme {
    z-index: 1001;
  }

  .navbar-links {
    @media (max-width: 600px) {
      display: none;

      &.is-visible {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        padding-top: 30vh;
        padding-bottom: 30vh;

        text-align: center;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

        width: 100%;
        height: 100vh;
        background-color: var(--color-body-background);
      }
    }
  }

  .navbar-link {
    text-decoration: none;
    color: var(--color-link);
    font-size: 1rem;
    font-weight: bold;

    margin-right: 50px;

    @media (max-width: 600px) {
      margin-right: 0;
    }

    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--color-primary);
    }
    &:hover::before {
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
  }
}
