nav {
  margin-top: 3rem;
  width: 100%;
  z-index: 999;

  .navbar-container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-link {
    text-decoration: none;
    color: var(--color-darkest);
    font-size: 1rem;
    font-weight: bold;

    margin-right: 50px;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--color-primary);
    }
    &:hover::before {
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
  }
}
