@charset "utf-8";

:root {
  --color-primary: #027bff;
  --color-secondary: #797979;
  --color-text: #797979;
  --color-darkest: #000000;
  --color-light: #e0e0e0;
  --color-lightest: #ffffff;
  --color-body-background: #fafafa;

  --box-shadow-primary: 7px 7px 10px rgba(0, 0, 0, 0.05), -7px -7px 10px #ffffff;

  --size-text: 13px;

  --font-sans-serif: "Space Grotesk", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans-serif);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--size-text);
  color: var(--color-text);
  background-color: var(--color-body-background);

  &::selection {
    background-color: var(--color-primary);
    color: var(--color-light);
  }
}

div,
section {
  display: block;
}

@import "utils/layout";
@import "utils/typography";
@import "utils/icons";
@import "utils/blogs";
@import "utils/skills";
@import "utils/form";
