@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  color: var(--color-lightest);
  background-color: var(--color-primary);
}

::selection {
  color: var(--color-lightest);
  background-color: var(--color-primary);
}

* {
  margin: 0px;

  padding: 0px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  cursor: url("../images/icons/circle.svg") 15 15, auto !important;
}

html,
body {
  font-family: var(--font-sans-serif);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--size-text);
  background-color: var(--color-body-background);
}

:root {
  --font-sans-serif: "Space Grotesk", sans-serif;

  --size-text: 13px;
  --container-width: 980px;

  --color-primary: #027bff;
  --color-input-border: rgba(0, 0, 0, 0.1);

  --color-body-background: #fafafa;
  --box-shadow-primary: 7px 7px 10px rgba(0, 0, 0, 0.05), -7px -7px 10px #ffffff;
  --box-shadow-input: inset 7px 7px 10px rgba(0, 0, 0, 0.05),
    inset -7px -7px 10px #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body-background: #1e1e20;
    --box-shadow-primary: 14px 14px 29px #181819, -14px -14px 29px #242427;
    --box-shadow-input: inset 7px 7px 10px #1a1a1b, inset -7px -7px 10px #232325;
  }
}

.container {
  width: var(--container-width);
  margin: 0 auto;

  @media (max-width: 1000px) {
    margin: 0 25px;
  }
}

.is-raised {
  background-color: var(--color-body-background);
  box-shadow: var(--box-shadow-primary);
}

@import "utils/fonts";
@import "utils/typography";
@import "utils/icons";
