@charset "utf-8";

:root {
  --font-sans-serif: "Space Grotesk", sans-serif;

  --size-text: 13px;

  --color-primary: #027bff;
  --color-text: #797979;
  --color-input-border: rgba(0, 0, 0, 0.1);
  --color-light: #e0e0e0;

  --color-link: #000000;
  --color-lightest: #ffffff;
  --color-darkest: #000000;
  --color-text-large: rgba(0, 0, 0, 0.1);
  --color-body-background: #fafafa;
  --box-shadow-primary: 7px 7px 10px rgba(0, 0, 0, 0.05), -7px -7px 10px #ffffff;
  --box-shadow-input: inset 7px 7px 10px rgba(0, 0, 0, 0.05),
    inset -7px -7px 10px #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link: #ffffff;
    --color-lightest: #000000;
    --color-darkest: #ffffff;
    --color-text-large: rgba(255, 255, 255, 0.2);
    --color-body-background: #1e1e20;
    --box-shadow-primary: 14px 14px 29px #181819, -14px -14px 29px #242427;
    --box-shadow-input: inset 7px 7px 10px #1a1a1b, inset -7px -7px 10px #232325;
  }
}

@import "utils/base";
@import "utils/fonts";
@import "utils/layout";
@import "utils/typography";
@import "utils/icons";
@import "utils/blogs";
@import "utils/skills";
@import "utils/form";
